.menu{
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  position: fixed;
  transition: .3s ease-in-out;
}

.menu-container {
  will-change: transform, height;
  width: 300px;
  height: 500px;
  background-color: #212121;
  padding-left: 100px;
  box-sizing: border-box;
  transform: translate3d(-330px, -220px, 0px)  rotate(45deg);
  margin: 0;
  position: relative;
  transition: .3s ease-in-out;
}

nav.active .menu-container {
  height: 200%;
  transform: translate3d(-100px, 0px, 0px)  rotate(0deg);
}

.menu-list{
  margin: 0;
  padding: 50px 20px 20px 50px;
  list-style: none;
}

.menu-item{
  padding: .5rem 0;
}

.menu-link{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity .3s;
}
.menu-link.active,
a.menu-link:hover,
a.menu-link:focus {
  text-decoration: none;
  color: #fff;
}
nav.active .menu-link{
  opacity: 1;
  transition-delay: .3s;
}

.menu-toggle{
  display: block;
  position: absolute;
  height: 15px;
  width: 20px;
  top: 12px;
  left: 12px;
  background: transparent;
  cursor: pointer;
}

.menu-hamburger, .menu-hamburger:before, .menu-hamburger:after{
  background-color: #fff;
  height: 3px;
  width: 20px;
  display: block;
  transition: all .3s;
  border-radius: 10px;
}

.menu-hamburger {
  position: relative;
  top: 5px;
  left: 0px;
}

.menu-hamburger:before{
  content:"";
  position: absolute;
  top: -6px;
}
.menu-hamburger:after{
  content: "";
  position: absolute;
  bottom: -6px;
}
.menu.active {
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
}
.menu.active .menu-hamburger{
  background: transparent;
}

.menu.active .menu-hamburger:before{
  transform: rotate(-45deg);
  top: 0px;
}
.menu.active .menu-hamburger:after{
  transform: rotate(45deg);
  bottom: 0px;
}
