/* 원하는 코드 블럭 폰트를 적용하세요 */
 @font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: url("/public/fonts/Menlo-Regular.woff");
 }
 @font-face {
    font-family: 'D2 Coding';
    font-style: normal;
    font-weight: normal;
    src: url("/public/fonts/D2Coding.ttc");
 }

pre, code {
  font-family: 'D2 Coding';
  padding: 0.2em;
  font-size: 0.95em;
}

/* 글 중간에 쓰는 블럭용 */
code {
  background: #eff0f1;
  padding: 3px 0px;
  margin: 0;
  border-radius: 2px;
  white-space: inherit;
}
pre {
  color:#33333f;
  overflow: auto;
  display: block;
  padding: 1em;
  margin: 0 0 1em;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0;
  font-weight: normal;
}
pre code {
  color: #f5f5f5;
  background: transparent;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  span {
    word-break: break-all;
  }
}

.highlight .hll { background-color: #373b41 }
.highlight  {
   background: #1d1f21;
   color: #c5c8c6;
   margin-left: 5px !important;
   margin-right: 5px !important;
   border-radius: 5px;
}
 .highlight .c { color: #969896 } /* Comment */
 .highlight .err { color: #cc6666 } /* Error */
 .highlight .k { color: #b294bb } /* Keyword */
 .highlight .l { color: #de935f } /* Literal */
 .highlight .n { color: #c5c8c6 } /* Name */
 .highlight .o { color: #8abeb7 } /* Operator */
 .highlight .p { color: #c5c8c6 } /* Punctuation */
 .highlight .cm { color: #969896 } /* Comment.Multiline */
 .highlight .cp { color: #969896 } /* Comment.Preproc */
 .highlight .c1 { color: #969896 } /* Comment.Single */
 .highlight .cs { color: #969896 } /* Comment.Special */
 .highlight .gd { color: #cc6666 } /* Generic.Deleted */
.highlight .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
 .highlight .kc { color: #7e8ebc } /* Keyword.Constant */
 .highlight .kd { color: #b294bb } /* Keyword.Declaration */
 .highlight .kn { color: #8abeb7 } /* Keyword.Namespace */
 .highlight .kp { color: #b294bb } /* Keyword.Pseudo */
 .highlight .kr { color: #b294bb } /* Keyword.Reserved */
 .highlight .kt { color: #f0c674 } /* Keyword.Type */
 .highlight .ld { color: #b5bd68 } /* Literal.Date */
 .highlight .m { color: #de935f } /* Literal.Number */
 .highlight .s { color: #b5bd68 } /* Literal.String */
 .highlight .na { color: #81a2be } /* Name.Attribute */
 .highlight .nb { color: #c5c8c6 } /* Name.Builtin */
 .highlight .nc { color: #f0c674 } /* Name.Class */
 .highlight .no { color: #cc6666 } /* Name.Constant */
 .highlight .nd { color: #8abeb7 } /* Name.Decorator */
 .highlight .ni { color: #c5c8c6 } /* Name.Entity */
 .highlight .ne { color: #cc6666 } /* Name.Exception */
 .highlight .nf { color: #81a2be } /* Name.Function */
 .highlight .nl { color: #c5c8c6 } /* Name.Label */
 .highlight .nn { color: #f0c674 } /* Name.Namespace */
 .highlight .nx { color: #81a2be } /* Name.Other */
 .highlight .py { color: #c5c8c6 } /* Name.Property */
 .highlight .nt { color: #8abeb7 } /* Name.Tag */
 .highlight .nv { color: #cc6666 } /* Name.Variable */
 .highlight .ow { color: #8abeb7 } /* Operator.Word */
 .highlight .w { color: #c5c8c6 } /* Text.Whitespace */
 .highlight .mf { color: #de935f } /* Literal.Number.Float */
 .highlight .mh { color: #de935f } /* Literal.Number.Hex */
 .highlight .mi { color: #de935f } /* Literal.Number.Integer */
 .highlight .mo { color: #de935f } /* Literal.Number.Oct */
 .highlight .sb { color: #b5bd68 } /* Literal.String.Backtick */
 .highlight .sc { color: #c5c8c6 } /* Literal.String.Char */
 .highlight .sd { color: #969896 } /* Literal.String.Doc */
 .highlight .s2 { color: #b5bd68 } /* Literal.String.Double */
 .highlight .se { color: #de935f } /* Literal.String.Escape */
 .highlight .sh { color: #b5bd68 } /* Literal.String.Heredoc */
 .highlight .si { color: #de935f } /* Literal.String.Interpol */
 .highlight .sx { color: #b5bd68 } /* Literal.String.Other */
 .highlight .sr { color: #b5bd68 } /* Literal.String.Regex */
 .highlight .s1 { color: #b5bd68 } /* Literal.String.Single */
 .highlight .ss { color: #b5bd68 } /* Literal.String.Symbol */
 .highlight .bp { color: #c5c8c6 } /* Name.Builtin.Pseudo */
 .highlight .vc { color: #cc6666 } /* Name.Variable.Class */
 .highlight .vg { color: #cc6666 } /* Name.Variable.Global */
 .highlight .vi { color: #cc6666 } /* Name.Variable.Instance */
 .highlight .il { color: #de935f } /* Literal.Number.Integer.Long */

.post > .highlight .lineno {
  // color: #ccc;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}
.post > .highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }
