<nav class="menu">
  <div class="menu-container">
    <ul class="menu-list">
      <li class="menu-item">
        <a class="menu-link" href="{{ site.baseurl }}/">Home</a>
      </li>
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"url" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="menu-item">
              <a class="menu-link" href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>


  <a class="menu-toggle">
    <div class="menu-hamburger"></div>
  </a>
</nav>
