<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    <div class="wrap">
      {% include sidebar.html %}
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/public/js/sidebarHamburger.js"></script>
    <script src="{{ site.baseurl }}/public/js/gifAnimation.js"></script>
  </body>
</html>
